[submodule "GameDev1/Tools"]
	path = GameDev1/Tools
	url = https://github.com/Neckster1233/Tools
[submodule "ArtisanDream.Tools"]
	path = ArtisanDream.Tools
	url = https://github.com/Neckster1233/ArtisanDream.Tools
